<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exemplo de Quiz</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://unpkg.com/vuex@4.1.0/dist/vuex.global.js"
      async
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-200 flex justify-center items-center h-screen flex-1 w-full flex-col"
    id="app"
  >
    <section
      class="max-w-md w-full text-center space-y-10 p-3 flex justify-between flex-col"
    >
      <div class="space-y-3">
        <h1 class="text-4xl font-bold text-gray-800 text-balanced">
          {{config.quizName}}
        </h1>

        <div
          class="flex w-full h-1.5 bg-green-400/20 rounded-full overflow-hidden"
          role="progressbar"
          :aria-valuenow="progress"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            :data-progress="progress"
            class="flex flex-col justify-center rounded-full overflow-hidden bg-green-400 text-xs text-white text-center whitespace-nowrap transition duration-500"
            :style="{
            width: `${progress}%`,
          }"
          ></div>
        </div>
      </div>
      <form
        id="quiz"
        class="px-4 border rounded-md px-4 py-10 space-y-3"
        v-on:submit.prevent="handleSubmit"
      >
        {{currentQuestion}}
        <div v-for="question in store.state.questions" :key="question.id">
          <question-item
            :on-answer="handleAnswerMessage"
            :question="question"
            :selected-option="answers.get(question.id)"
            v-if="currentQuestion === question.id"
          />
        </div>

        <div v-if="currentQuestion > totalQuestions">
          <h2 class="text-xl font-semibold text-center">Resultado</h2>
          <p class="text-center">
            Você acertou {{ SCORE }} de {{ totalQuestions }} perguntas
          </p>
        </div>
      </form>
    </section>
  </body>

  <script type="module">
    const { createApp, ref, computed } = Vue;

    import questionItem from "./components/QuestionItem.js";
    import { store } from "./store.js";

    const app = createApp({
      setup() {
        const currentQuestion = computed(() => store.state.currentQuestion);
        const totalQuestions = computed(() => store.state.totalQuestions);
        const answers = computed(() => store.state.answers);
        const progress = computed(() => {
          return (currentQuestion.value / totalQuestions.value) * 100;
        });
        const score = computed(() => store.state.score);

        const handleAnswerMessage = (questionId, answer) => {
          const question = store.state.questions.find(
            (q) => q.id === questionId
          );
          const option = question.options.find((o) => o.id === answer);
          const answers = store.state.answers;

          if (option && "points" in option) {
            store.commit("increamentScore", option.points);
          }

          function handleWithMultipleQuestion() {
            const currentAnswer = answers.get(questionId) || [];

            if (currentAnswer.includes(answer)) {
              const newAnswer = currentAnswer.filter((a) => a !== answer);
              answers.set(questionId, newAnswer);
              return;
            }

            const newAnswer = [...currentAnswer, answer];
            answers.set(questionId, newAnswer);
          }

          function handleWithSingleQuestion() {
            answers.set(questionId, answer);
            handleSubmit();
          }

          if (!question.isMultiple) {
            return handleWithSingleQuestion();
          }

          return handleWithMultipleQuestion();
        };

        const handleSubmit = () => {
          if (answers >= totalQuestions.value) {
            console.log("Todas as perguntas foram respondidas");
          } else {
            store.commit("nextQuestion");
          }
        };

        return {
          currentQuestion,
          store,
          score,
          totalQuestions,
          config: store.state.config,
          progress,
          answers,
          handleAnswerMessage,
          handleSubmit,
        };
      },
    });
    app.use(store);

    app.component("question-item", questionItem);
    app.mount("#app");
  </script>
</html>
