<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exemplo de Quiz</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-200 flex justify-center items-center h-screen flex-1 w-full flex-col"
    id="app"
  >
    <section class="max-w-md w-full text-center space-y-10">
      <h1 class="text-4xl font-bold text-gray-800 text-balanced">
        Quiz exemplo
      </h1>

      <div
        class="flex w-full h-1.5 bg-green-400/20 rounded-full overflow-hidden"
        role="progressbar"
        :aria-valuenow="progress"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          :data-progress="progress"
          class="flex flex-col justify-center rounded-full overflow-hidden bg-green-400 text-xs text-white text-center whitespace-nowrap transition duration-500"
          :style="{
            width: `${progress}%`,
          }"
        ></div>
      </div>

      <form
        id="quiz"
        class="px-4 border rounded-md px-4 py-10 space-y-3"
        v-on:submit.prevent="handleSubmit"
      >
        <div v-for="question in questions" :key="question.id">
          <question-item
            :on-answer="handleAnswerMessage"
            :question="question"
            v-if="currentQuestion === question.id"
          />
        </div>

        <div v-if="currentQuestion >= totalQuestions">
          <h2 class="text-xl font-semibold text-center">Resultado</h2>
          <p class="text-center">
            Você acertou {{ SCORE }} de {{ totalQuestions }} perguntas
          </p>
        </div>
      </form>
    </section>
  </body>

  <script type="module">
    const { createApp, ref, computed } = Vue;
    import questionItem from "./components/QuestionItem.js";

    const app = createApp({
      setup() {
        const questions = ref([
          {
            id: 1,
            title: "Qual é a capital do Brasil?",
            options: [
              { id: "a", text: "São Paulo", points: 0 },
              { id: "b", text: "Rio de Janeiro", points: 0 },
              { id: "c", text: "Brasília", points: 4 },
              { id: "d", text: "Salvador", points: 0 },
            ],
          },
          {
            id: 2,
            title: "Qual é a capital do Brasil 2?",
            options: [
              { id: "a", text: "São Paulo", points: 0 },
              { id: "b", text: "Rio de Janeiro", points: 0 },
              { id: "c", text: "Brasília", points: 4 },
              { id: "d", text: "Salvador", points: 0 },
            ],
          },
        ]);
        const currentQuestion = ref(1);
        const totalQuestions = ref(questions.value.length);
        const answers = ref(new Map());
        const progress = computed(() => {
          return (currentQuestion.value / totalQuestions.value) * 100;
        });
        const score = ref(0);

        const handleAnswerMessage = (questionId, answer) => {
          const question = questions.value.find((q) => q.id === questionId);
          const answerPoints = question.options.find(
            (o) => o.id === answer
          ).points;

          score.value += answerPoints;
          answers.value.set(questionId, answer);
          handleSubmit();
        };

        const handleSubmit = () => {
          if (answers.value.size >= totalQuestions.value) {
            console.log("Todas as perguntas foram respondidas");
          } else {
            currentQuestion.value++;
          }
        };

        return {
          handleAnswerMessage,
          currentQuestion,
          totalQuestions,
          questions,
          progress,
          handleSubmit,
        };
      },
    });

    app.component("question-item", questionItem);
    app.mount("#app");
  </script>
</html>
